@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --min-color: #d3ad74;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3)
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    transition: 0.2s linear;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
    /* width: 100%; */
}

.btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--min-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.2rem;
}

section {
    padding: 2rem 7%;
}

.heading {
    color: #fff;
    font-size: 3.5rem;
    /* font-weight: 350; */
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: var(--min-color);
    text-transform: uppercase;
}

.introduction {
    margin-top: -0.5rem;
    font-size: 1.8rem;
    color: var(--min-color);
    text-align: center;
}

.header {
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header .logo {
    width: 10rem;
    height: 10rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    gap: 2rem;
}

.navbar a {
    font-size: 1.8rem;
    color: #fff;
    margin: 0 1rem;
}

.navbar a:hover {
    color: var(--min-color);
    border-bottom: 0.1rem solid var(--min-color);
    padding-bottom: 0.5rem;
}

.header .icon div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.icon a:hover {
    color: var(--min-color);
}

#bars {
    display: none;
}

.fa-times {
    transform: rotate(180deg);
}


.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    /* to hide search bar */
    transform: scaleY(0);
    transform-origin: top;

}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}


.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 2rem;
    color: var(--black);
}


.header .search-form label:hover {
    color: var(--min-color);
}


.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.cart-items-container.active {
    right: 0;
}

.cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.cart-items-container .cart-item .fa-times:hover {
    color: var(--min-color);
}

.cart-items-container .cart-item img {
    height: 7rem;

}

.cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--min-color);
}

.cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.home {
    min-height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background: url('../Images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

}

.home .content {
    max-width: 60rem;
    margin-top: 6rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;

}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

/* about section */

.about .introduction {
    padding-bottom: 3.5rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--black);
}

.row .image {
    flex: 1 1 45rem;
}

.row .image img {
    width: 100%;
}

.row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.row .content h3 {
    font-size: 3rem;
    color: #fff;

}

.row .content p {
    font-size: 1.6rem;
    color: #ccc;
    line-height: 1.8;
    padding: 1rem 0;
}

.service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding-top: 4rem;

}

.service .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.service .box-container .box img {
    height: 10rem;
}

.service .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.service .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.service .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.service .box-container .box .btn {
    font-size: 1.6rem;
}

.service .box-container .box:hover {
    background: var(--black);
}

.product .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding-top: 4rem;
}


.product .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.product .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: 0.3rem;
}

.product .box-container .box .icons a:hover {
    background: var(--min-color);
}

.product .box-container .box .image {
    padding: 2.5rem 0;
}

.product .box-container .box .image img {
    height: 25rem;
}

.product .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.product .box-container .box .content .stars {
    padding: 1.5rem;

}

.product .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--min-color)
}

.product .box-container .box .content .price {
    font-size: 2.5rem;
    color: #fff;
}

.product .box-container .box .content .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-top: 4rem;
}


.review .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    background: var(--bg);
}

.review .box-container .box:hover {
    background: var(--black);
}

.review .box-container .box .quote {
    width: 10rem;
    margin-top: -2rem;
}


.review .box-container .box p {
    font-size: 1.6rem;
    /* margin-top: -2rem; */
    color: #ccc;
}

.review .box-container .box .user {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.review .box-container .box h3 {
    font-size: 2rem;
    color: #ccc;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--min-color);
}


.contact .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-top: 4rem; */
    background: var(--black);
    padding: 4rem;
}

.contact .box-container .social-icon {
    flex: 1 1 30rem;
}

.contact .box-container .social-icon .contents h3 {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
}

.contact .box-container .social-icon .contents .para {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.contact .box-container .social-icon .contents p {
    margin-top: 1rem;
}

.contact .box-container .social-icon .contents span {
    color: var(--min-color);
}



.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    /* justify-content: center; */
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -35px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
}

.contact .box-container .contact-form {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact .box-container .contact-form .input {
    font-size: 1.6rem;
    height: 4rem;
    width: 90%;
    padding: 0 4rem;
    border-radius: 20rem;
}

.contact .box-container .contact-form textarea {
    width: 90%;
    height: 7rem;
    font-size: 1.7rem;
    border-radius: 20rem;
    padding: 0 4rem;
}

.contact .box-container .contact-form .btn {
    width: 50%;
}

.blog .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding-top: 3rem;
}

.blog .box-container .box {
    border: var(--border);
}

.blog .box-container .box .image {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.blog .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog .box-container .box:hover .image img {
    transform: scale(1.1);
}

.blog .box-container .box .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.blog .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5rem;
    color: #fff;
}

.blog .box-container .box:hover .content .title {
    color: var(--min-color);
}

.blog .box-container .box .content span {

    color: var(--min-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blog .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #fff;
}

.blog .box-container .box .content .btn {
    width: 50%;
}

/* footer */
hr {
    width: 100%;
    color: var(--min-color);
}

.footer {
    position: relative;
    padding: 2rem;
    width: 100%;
    color: #fff;

    text-align: center;
}

.footer .socials {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}

.footer .socials ul {
    display: flex;
    gap: 2rem;
}

.footer .socials ul li {
    list-style: none;
}

.footer .socials ul li img {
    width: 4rem;
}

.footer .socials .bottom {
    font-size: 2rem;
    font-weight: lighter;
}



@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

}


@media(max-width:768px) {


    #bars {
        display: inline-block;

    }

    .navbar {
        position: fixed;
        top: -100rem;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
        border: 0.4rem solid var(--min-color) !important;
        background-color: var(--black);
        flex-direction: column;
        opacity: 0;
        width: 85%;
        text-align: center;
    }

    .navbar a {
        padding: 2rem 0;
        font-size: 3rem;
        display: block;
    }



    .nav-toggle {
        top: 43.5%;
        opacity: 1;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: right;
        justify-content: center;
        text-align: center;
    }

    .home .content .h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }



}

@media(max-width:350px) {
    html {
        font-size: 43%;
    }



}


/* preee loader  */