@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --min-color: #d3ad74;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3)
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    transition: 0.2s linear;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
    /* width: 100%; */
}

.btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--min-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.2rem;
}

.header {
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header .logo {
    width: 10rem;
    height: 10rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    gap: 2rem;
}

.navbar a {
    font-size: 1.8rem;
    color: #fff;
    margin: 0 1rem;
}

.navbar a:hover {
    color: var(--min-color);
    border-bottom: 0.1rem solid var(--min-color);
    padding-bottom: 0.5rem;
}

.header .icon div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.icon a:hover {
    color: var(--min-color);
}

#bars {
    /* font-size: 3rem; */
    /* cursor: pointer; */
    display: none;
    /* margin-left: 11rem; */
    /* margin-top: -2.4rem; */

}

.fa-times {
    transform: rotate(180deg);
}

/* 
.header div>.search-form {
    position: absolute;
    top: 30rem;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    /* transform: scaleY(0); */
/* transform-origin: top; */

/* } */


/* .header div>.search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
} */

/*
.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--min-color);
}

.cart-items-container {
    position: absolute;
    top: 15%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.cart-items-container .cart-item .fa-times:hover {
    color: var(--min-color);
}

.cart-items-container .cart-item img {
    height: 7rem;

}

.cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--min-color);
}

.cart-items-container .btn {
    width: 100%;
    text-align: center;
} */

/* @media(max-width:991px) {
    html {
        font-size: 55%;
    }

    #bars {
        display: block;
    }

    .navbar {
        position: fixed;
        top: -100rem;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
        border: 0.4rem solid var(--min-color) !important;
        background-color: var(--black);
        flex-direction: column;
        opacity: 0;
        width: 85%;
        text-align: center;
    }

    .navbar a {
        padding: 2rem 0;
        font-size: 3rem;
        display: block;
    }

    .nav-toggle {
        top: 50%;
        opacity: 1;
    }

} */